.ant-collapse {
  background-color: #1a1b1d !important;
}
.ant-collapse{
  border: none !important;
}
.ant-collapse > .ant-collapse-item {
  border: none !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #fff !important;
  font-weight: bold;
  font-size: 20px;
}
.ant-collapse-content {
  background-color: #36373a;
  border-top: none !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #36373a !important;
}
.ant-radio-button {
  background-color: #36373a;
  border-radius: 10px;
}
.ant-radio-button-wrapper {
  border: none !important;
  background: #36373a !important;
  font-size: 18px !important;
  font-weight: bold;
}
.ant-radio-button-checked {
  background-color: #ffa710;
  color: #fff;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
