.slideBar {
    width: 320px;
    position: fixed;
    height: 100vh;
    background: #dfe6e9;
    top: 0;
    left: 0;
    overflow: auto;
}
.headerTitle {
  height: 48px;
  color: blueviolet;
  font-size: 24px;
  margin-left: 20px;
}
.category {
    width: 90%;
    margin-left: 5%;
}
.categoryItem {
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.6s;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.categoryItem > img {
    width: 32px;
    margin-left: 10px;
}
.categoryItem > span {
    font-size: 18px;
    margin-left: 15px;
}
.categoryItem:hover {
    border: 1px solid rgb(229, 232, 235);
}
.platforms {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.platformsItem {
  width: 150px;
  height: 50px;
  border: 1px solid rgb(229, 232, 235);
  border-radius: 4px;
  margin-left: 20px;
  line-height: 50px;
  text-align: center;
}
.platformsItem:hover {
  box-shadow: 1px 1px 6px 0px rgba(102, 102, 102, 0.80);
  cursor: pointer;
}
