@import '~antd/dist/antd.css';
@import "./styles/override-antd-select-dropdown.scss";


.app {
  width: 100%;
}

//::-webkit-scrollbar {
//  display: none;
//}

.ant-image-preview-img-wrapper {
  position: static !important;
}
.ant-image-preview-img {
  margin: auto;
}

.ant-btn {
  background: #554BFF;

  &:hover {
    background-color: rgb(105,116,255);
  }

  &, &:hover {
    border: none;
    color: #ffffff;
    font-weight: 550;
    border-radius: 1rem;
    color: #ffffff;
  }
}

