@import '~antd/dist/antd.css';
@import "./styles/override-antd-select-dropdown.scss";

@font-face {
  font-family: 'PingFang SC';
  src: url(./font/PingFang-SC-Regular.ttf);
}
.app {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


