@import '~antd/dist/antd.css';
@import "./styles/override-antd-select-dropdown.scss";


.app {
  width: 100%;
}

//::-webkit-scrollbar {
//  display: none;
//}

.ant-image-preview-img-wrapper {
  position: static !important;
}
.ant-image-preview-img {
  margin: auto;
}


